<section class="hct-contact {{mod}} hct-on-dark" aria-labelledby="{{id}}-kontakt-h">
  <div style="grid-column:1/-1">
    <span class="hct-kicker">Herz-CT in Hamburg</span>
    <h2 class="hct-h2" id="{{id}}-kontakt-h">{{heading}}</h2>
  </div>
  <div>
    <span class="hct-contact__label">Terminvereinbarung</span>
    <p class="hct-contact__value"><a href="tel:+494035004840">040&nbsp;3500484-0</a></p>
    <p class="hct-small">Privatpatienten MRT/CT: <a href="tel:+4940350048454">040&nbsp;3500484-54</a></p>
  </div>
  <div>
    <span class="hct-contact__label">Online-Termin</span>
    <p class="hct-contact__value"><a href="https://www.doctolib.de/gemeinschaftspraxis/hamburg/mammadiagnostik-stephansplatz?pid=practice-79031" target="_blank" rel="noopener">Doctolib<span class="hct-visually-hidden"> (externer Anbieter, neues Fenster)</span></a></p>
    <p class="hct-small">Externer Anbieter, es gilt dessen Datenschutzerklärung.</p>
  </div>
  <div>
    <span class="hct-contact__label">Untersuchungsort</span>
    <address>
      <p><strong>Radiologie Dammtor</strong><br>Dammtorwall 7a<br>20354 Hamburg</p>
    </address>
  </div>
  <div>
    <span class="hct-contact__label">Sprechzeiten</span>
    <p>Mo–Do 8–17 Uhr<br>Fr 8–16 Uhr<br>und nach Vereinbarung</p>
  </div>
  {{more}}
</section>
