<article class="hct-doc">
  <a class="hct-doc__thumb" href="{{base}}assets/downloads/{{file}}" tabindex="-1" aria-hidden="true"><img src="{{base}}assets/img/{{img}}" width="420" height="594" alt="" loading="lazy"></a>
  <div class="hct-doc__body">
    <h3 class="hct-h3">{{title}}</h3>
    <p>{{text}}</p>
    <p class="hct-doc__meta">{{meta}}</p>
    <div class="hct-actions"><a class="hct-btn hct-btn--small" href="{{base}}assets/downloads/{{file}}" download><!-- @include icon-download --> PDF herunterladen</a></div>
  </div>
</article>
